body,
td,
th,
p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
a {
  color: #0076ad;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}
a img {
  border: none 0px #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
main {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #bababa;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
#footer a {
  color: orange;
}

a,
button {
  min-width: 48px !important;
  min-height: 48px !important;
}
/* ====================== Navigation ====================== */
header {
  background-color: #252831;
  display: flex;
  flex-direction: column;
}
header h1 {
  margin: auto;
  padding: 12px;
}
header h1 a {
  color: #fff;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 10px;
  text-transform: uppercase;
}
nav {
  list-style: none;
  background-color: #eee;
  font-size: 1.25rem;
}

nav ol {
  margin: 10px 0;
  padding-left: 20px;
  font-size: 1rem;
}
/* Display list items side by side */
nav li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
nav li + li:before {
  padding: 5px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
nav li a {
  color: #006ec2;
  text-decoration: none;
}

/* Add a color on mouse-over */
nav li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container {
  height: 50vh;
}
#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 50px;
  background-color: #1f7ab7;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 10px 12px 5px;
}
.filter-selects {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  max-width: 600px;
  margin: 5px 12px;
}
.filter-options select {
  flex-grow: 1;
  background-color: white;
  border: 1px solid #fff;
  height: 35px;
  letter-spacing: 0;
  margin: 5px 4px 5px 0;
  padding: 0 10px;
  min-width: 160px;
  width: calc(50% - 10px);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 20px 12px;
}
#restaurants-list article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: #fff;
  border: 2px solid #ccc;
  min-height: 380px;
  margin-bottom: 10px;
  padding: 0 1rem 1rem;
  text-align: left;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0 0 10px 0;
  max-width: 100%;
  min-height: 200px;
  min-width: 100%;
}
#restaurants-list article header {
  order: -1;
  background-color: #fff;
}
#restaurants-list article header h2 {
  color: #0076ad;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
}
#restaurants-list article a {
  background-color: #475aff;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1.25rem;
  margin: 15px 0 0;
  padding: 0 30px;
  line-height: 48px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
#restaurant-name {
  color: #0076ad;
  font-family: Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  margin: 10px 0;
  text-transform: uppercase;
  line-height: 1.1;
  width: 100%;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 10px 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}
#restaurant-container,
#reviews-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 12px;
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
}
#reviews-container h2 {
  color: #0076ad;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
}
#reviews-list article {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 10px;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
#reviews-list article p,
#reviews-list article h3 {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

/**Accessability**/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/**Media Queries**/

@media screen and (min-width: 600px) {
  #restaurants-list article,
  #reviews-list article {
    width: 44%;
  }
  #restaurant-container > *:not(#restaurant-name) {
    width: 45%;
  }
  #restaurant-name {
    order: 0;
  }
  #restaurant-cuisine {
    order: 1;
  }
  #restaurant-address {
    order: 2;
  }
  #restaurant-img-container {
    order: 3;
    text-align: center;
  }
  #restaurant-hours {
    order: 4;
  }
}
/* End 600px min */
@media screen and (min-width: 900px) {
  header h1 a {
    font-size: 1.5rem;
  }
  #restaurants-list article,
  #reviews-list article {
    width: 28%;
  }
}
/* end 900px min */
